.cards{
    overflow: auto;
    height: 100%;
    padding: 1rem;

    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding-bottom: 10rem;


    .card{
        flex-grow: 1;
        flex-basis: 20rem;
        max-width: 28rem;
        padding-inline: 1rem;
        padding-block: 0.75rem;
        background-color: rgb(46, 46, 46);
        border-radius: 0.5rem;
        color: rgb(255, 255, 255);

        img{
            width: 100%;
            border-radius: 1rem;
        }

        h1{
            font-size: 1.5rem;
            font-weight: 400;
        }

        .description{
            opacity: 0.6;
            word-spacing: 0.2rem;
            line-height: 1.4rem;
        }
        

        .tags{

            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;
            padding-block: 0.75rem;

            .tag{
                background-color: rgb(143, 143, 143);
                width: fit-content;
                padding-inline: 1rem;
                padding-block: 0.5rem;
                border-radius: 0.5rem;

                white-space: nowrap;
            }
        }

        .urls{

            display: flex;
            gap: 1rem;
            a{
                color: white;
            }
        }
    }
}
