.window{

    background-color: black;
    border-radius: 0.8rem;
    overflow: hidden;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: white;

    .nav{
        padding: 1rem;
        display: flex;
        align-items: center;
        color: rgb(139, 139, 139);
        gap: 1rem;
        background-color: #29292c;
        border-bottom: 1px solid rgba(245, 245, 245, 0.300);

        .dots{
            display: flex;
            gap: 0.5rem;

            .dot{
                height: 20px;
                width: 20px;
                background-color: white;
                border-radius: 50%;
            }

            .red{
                background-color: #FD5754;
            }

            .yellow{
                background-color: #FEBB40;
            }

            .green{
                background-color: #34C848;
            }
        }

        .title{
            font-size: 20px;
        }

    }

    .main-content{
        height: 100%;
        
    }

    *::-webkit-scrollbar{
        width: 5px;
    }

    *::-webkit-scrollbar-thumb{
        background-color: rgb(98, 98, 98);
    }

}
