nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #968d8d49;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    backdrop-filter: blur(5px);
    color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .left,.right{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .left{

        .nav-item ,.apple-icon{
            cursor: pointer;
        }
    }

    .right{
        .nav-item{
            cursor: pointer;
        }
    }

   
}